﻿@model CarDealership.Models.Car

@{
    ViewBag.Title = "Add";
}

<script>
    $(function () {
        $('#datething').datepicker();
        $('#accord').accordion();
    });
</script>

<div class="page-title">
    Add Car
</div>

@using (Html.BeginForm("Add", "Car", FormMethod.Post, new { @class="form-horizontal" }))
{
    <div>
        @Html.ValidationSummary(true)
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="Make">Make:</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(x => x.Make, new { @class="form-control" })
            @Html.ValidationMessageFor(m => m.Make)
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="Model">Model:</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(x => x.Model, new { @class="form-control" })
            @Html.ValidationMessageFor(m => m.Model)
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="Year">Year:</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(x => x.Year, new { @class="form-control" })
            @Html.ValidationMessageFor(m => m.Year)
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="ImageUrl">Image URL:</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(x => x.ImageUrl, new { @class="form-control" })
            @Html.ValidationMessageFor(m => m.ImageUrl)
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="Title">Title:</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(x => x.Title, new { @class="form-control" })
            @Html.ValidationMessageFor(m => m.Title)
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="Description">Description:</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(x => x.Description, new { @class="form-control" })
            @Html.ValidationMessageFor(m => m.Description)
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="Price">Price:</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(x => x.Price, new { @class="form-control", placeholder="USD" })
            @Html.ValidationMessageFor(m => m.Price)
        </div>
    </div>
    <div class="col-sm-offset-2">
            <button class="btn btn-primary">Submit</button>
    </div>
}

