﻿@using Microsoft.AspNet.Identity
@using MikeChat.Extensions
@model MikeChat.Models.Friend

@{
    ViewBag.Title = "Search Users";
}


    @foreach (var searchUser in ViewBag.AllUsers)
    {
        if (User.Identity.GetUserId() != searchUser.Id)
        {
            string profilePicture = MikeChat.Extensions.PictureExtensions.GetProfilePicture(searchUser.Id);
            if (FriendExtensions.ContainsFriendPair(ViewBag.allFriends, User.Identity.GetUserId(), searchUser.Id))
            {


                <div>
                    <img src="~/Uploads/@profilePicture" style="width:70px;height:70px;" /><br />
                    <a href="@Url.Action("Index", "User", new { userID = searchUser.Id })">@searchUser.DisplayName</a>
                </div><br /><br />
            }
            else
            {
                <img src="~/Uploads/@profilePicture" style="width:70px;height:70px;" />
                using (Html.BeginForm("AddFriend", "Home", FormMethod.Post))
                {
                    <input type="hidden" id="UserID_1" name="UserID_1" value=@User.Identity.GetUserId() />
                    <input type="hidden" id="UserID_2" name="UserID_2" value=@searchUser.Id />
                    <input type="hidden" id="ActionUserID" name="ActionUserID" value=@User.Identity.GetUserId() />
                    <input type="hidden" id="Status" name="Status" value=1 />
                    <a href="@Url.Action("Index", "User", new { userID = searchUser.Id })">@searchUser.DisplayName</a><button class="btn btn-primary">Add Friend</button><br /><br />
                }
            }
        }
    }

