﻿@using Microsoft.AspNet.Identity
@model MikeChat.Models.ApplicationUser

@{
    ViewBag.Title = "Profile";
}

<div class="row">
    <div class="col-md-4">
        <div class="user-header">
            <div class="user-display-name">
                @Model.DisplayName
            </div>

            <img src="~/Uploads/@ViewBag.ProfilePicture" class="user-profile-picture" />
        </div>
        
        
        <div>
            @if (User.Identity.GetUserId() == Model.Id)
            {
                using (Html.BeginForm("UploadProfilePicture", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <input type="hidden" name="UserID" id="UserID" value=@Model.Id />
                    <div class="form-group">
                        <label>Upload</label>
                        <input type="file" name="UserPicture" id="UserPicture" class="form-control" />
                    </div>
                    <button class="btn btn-primary">Submit Picture</button>
                }
            }
            else
            {
                <h1>Not profile owner</h1>
            }
        </div>
        <div>
            @foreach (var friend in ViewBag.FriendsList)
            {
                string profilePicture = MikeChat.Extensions.PictureExtensions.GetProfilePicture(friend.Id);
                <a href="@Url.Action("Index", "User", new { userID = friend.Id })" class="link-no-decoration">
                    <img src="~/Uploads/@profilePicture" class="friend-list-image" />
                </a>
            }
            @if (ViewBag.MoreThanNineFriends == true)
            {
                <a href="@Url.Action("Index", "User", new { userID = User.Identity.GetUserId() })" class="link-no-decoration">
                    <img src="~/Uploads/ellipsis.png" class="friend-list-image" />
                </a>
            }
        </div>
    </div>
    <div class="col-md-8">
        <div class="row">
            @if (Request.IsAuthenticated)
            {
                using (Html.BeginForm("SubmitWallPost", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <input type="hidden" name="WallID" id="WallID" value=@Model.Id />
                    <input type="hidden" name="PosterID" id="PosterID" value=@User.Identity.GetUserId() />
                    <div class="input-wall-post">
                        <div class="input-wall-post-textarea-container">
                            <textarea name="TextContent" id="TextContent" class="form-control input-wall-post-textarea" rows="3" placeholder="Post on @Model.DisplayName's wall"></textarea>
                        </div>
                        <div class="input-wall-post-button-container clearfix">
                            <button class="btn-sm btn-primary pull-right submit-comment">Post</button>
                        </div>
                    </div>
                }
            }
        </div>
        <div class="row">
            @foreach (var wallPost in ViewBag.PostList)
            {
                <div class="wall-post">
                    <div class="wall-post-header">
                        <a href="@Url.Action("Index", "User", new { userID = wallPost.PosterID })" class="link-no-decoration">
                            <img src="~/Uploads/@MikeChat.Extensions.PictureExtensions.GetProfilePicture(wallPost.PosterID)" class="wall-post-profile-picture" />
                        </a>
                        
                        <div class="wall-post-info">
                            <div class="wall-post-username">
                                <a href="@Url.Action("Index", "User", new { userID = wallPost.PosterID })" class="link-no-decoration">
                                    @MikeChat.Extensions.IdentityExtensions.GetDisplayNameByID(wallPost.PosterID)
                                </a>
                                
                            </div>
                            <div class="wall-post-date">
                                @wallPost.PostDate.Date.ToString("MM/dd/yyyy")
                            </div>
                        </div>
                    </div>
                    <div class="wall-post-content">
                        @wallPost.TextContent
                    </div>
                </div>
                
                foreach (var comment in ViewBag.CommentList)
                {
                    if (comment.PostID == wallPost.PostID)
                    {
                        <div class="comment">
                            <div class="comment-header">
                                <a href="@Url.Action("Index", "User", new { userID = comment.CommenterID })" class="link-no-decoration">
                                    <img src="~/Uploads/@MikeChat.Extensions.PictureExtensions.GetProfilePicture(comment.CommenterID)" class="comment-profile-picture" />
                                </a>
                                <div class="comment-info">
                                    <div class="comment-username">
                                        <a href="@Url.Action("Index", "User", new { userID = comment.CommenterID })" class="link-no-decoration">
                                            @MikeChat.Extensions.IdentityExtensions.GetDisplayNameByID(comment.CommenterID)
                                        </a>
                                    </div>
                                    <div class="comment-date">
                                        @comment.CommentDate.Date.ToString("MM/dd/yyyy")
                                    </div>
                                </div>
                                <div class="comment-content">
                                    @comment.TextContent
                                </div>
                            </div>
                            
                        </div>
                    }
                }

                if (Request.IsAuthenticated)
                {
                    using (Html.BeginForm("SubmitComment", "User", new { wallID = Model.Id }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <input type="hidden" name="PostID" id="PostID" value=@wallPost.PostID />
                        <input type="hidden" name="CommenterID" id="CommenterID" value=@User.Identity.GetUserId() />
                        <div class="input-comment">
                            <div class="input-comment-textarea-container">
                                <textarea name="TextContent" id="TextContent" class="form-control input-comment-textarea" rows="2"></textarea>
                            </div>
                            <div class="input-comment-button-container clearfix">
                                <button class="btn-sm btn-primary pull-right submit-comment">Comment</button>
                            </div>
                        </div>
                    }
                }
            }
        </div>
    </div>
</div>