﻿@model CarDealership.Models.ContactForm

@{
    ViewBag.Title = "Contact";
    var items = new List<SelectListItem>(){
      new SelectListItem() {
          Text = "6 months",
          Value = "6"
      },
            new SelectListItem() {
          Text = "12 months",
          Value = "12"
      },
            new SelectListItem() {
          Text = "24 months",
          Value = "24"
      },
            new SelectListItem() {
          Text = "36 months",
          Value = "36"
      }
    };
}
<div class="page-title">
    Contact
</div>
@*<h3>@ViewBag.Message</h3>*@

@using (Html.BeginForm("Contact", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div>
        @Html.ValidationSummary(true)
    </div>
    <div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="Name">Name:</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Name)
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="PhoneNumber">Phone #:</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(x => x.PhoneNumber, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.PhoneNumber)
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="Email">E-mail:</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email)
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="Income">Income:</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(x => x.Income, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Income)
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-offset-2 col-sm-10" for="PurchaseTimeFrameInMonths">When are you planning to purchase a car?</label>
            <div class="col-sm-offset-2 col-sm-10">
                @Html.DropDownListFor(x => x.PurchaseTimeFrameInMonths, items, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.PurchaseTimeFrameInMonths)
            </div>
        </div>
        <div class="col-sm-offset-2">
            <button class="btn btn-primary">Submit</button>
        </div>
    </div>
}