﻿.top-margin {
    margin-top: 30px;
}

.no-text-decoration {
    text-decoration: none;
}

.description-padding {
    padding-top: 5px;
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin: 0 !important;
}

body {
    background-color: #EEEEEE;
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.field-validation-error {
    font-weight: bold;
    color: #FF8533;
}

.input-validation-error {
    background-color: #FFD79C;
}

.car-image {
    width:100%;
    height: 350px;
}

.page-title {
    color: white;
    background: linear-gradient(#4D99DB, #006DCC, #4D99DB);
    text-shadow: -1px -1px 0px #80B6E6; 
    padding: 10px;
    padding-left: 20px;
    margin-bottom: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 30px;
    font-weight: bold;
}

.page-title-flat {
    color: white;
    background: linear-gradient(#4D99DB, #006DCC, #4D99DB);
    text-shadow: -1px -1px 0px #80B6E6; 
    padding: 10px;
    padding-left: 20px;
    font-size: 30px;
    font-weight: bold;
}

.car-image-container {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.car-image-container:hover {
    box-shadow: inset 0px 0px 2px 3px #4D99DB;
}

.no-padding {
    padding: 0 !important;
    margin: 0 !important;
}

.car-label {
    color: white;
    background: rgba(77, 153, 219, .9);
    /*background-color: #4D99DB;
    opacity: 0.8;*/
    font-weight: bold;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 12px;
}

.card {
    font-weight: bold;
    color: white;
    overflow: hidden;
    position: relative;
}

.card_content {
    background-color: rgba(77, 153, 219, .9);
    padding: 10px;
    position: absolute;
    left: -150px;
    transition: all 0.3s ease;
}

.card:hover .card_content {
    background-color: rgba(77, 153, 219, .9);
    left: 0;
}