﻿@model CarDealership.Models.Car
@{
    ViewBag.Title = "Details";
}
@* we need more details!!! *@

<h3>@Model.Title</h3>

<div class="row">
    <div class="col-md-3">
        <img class="img-responsive full-width" src="@Model.ImageUrl" />
    </div>
    <div class="col-md-9">
        <div class="row">@Model.Make @Model.Model - @Model.Year</div>
        <div class="row">@string.Format("{0:C}", Model.Price)</div>
        <div class="row">
            <div class="col-md-6 col-sm-12 description-padding">
                @Model.Description
            </div>
        </div>
    </div>
</div>

<input type="button" class="btn btn-primary" value="Edit" onclick="location.href='@Url.Action("Edit", new { id = Model.Id })'" />

<form action="/Car/Delete" onsubmit="return confirm('Do you really want to delete this car?');" method="post">
    @Html.HiddenFor(m => m.Id)
    <button class="btn btn-danger">Delete</button>
</form>
