﻿@model IEnumerable<CarDealership.Models.Car>

@{
    ViewBag.Title = "Index";
}

<div class="page-title-flat">
    Cars
</div>
@if (ViewBag.User != null)
{
    <h3>@ViewBag.User.UserMessage</h3>
}

<div class="container">

    @for (int i = 0; i < Model.Count(); i = i + 3)
    {
        var ca = Model.ElementAt(i);
        <div class="row">
            <a href="@Url.Action("Details", new { id = ca.Id })">
                <div class="col-sm-4 no-padding car-image-container card" style="background-image: url(@ca.ImageUrl);">
                    <div class="card_content">
                        @ca.Make @ca.Model<br />
                        @ca.Year
                    </div>
                </div>
            </a>
            @if ((i + 1) < Model.Count())
            {
                ca = Model.ElementAt(i + 1);
                <a href="@Url.Action("Details", new { id = ca.Id })">
                    <div class="col-sm-4 no-padding car-image-container card" style="background-image: url(@ca.ImageUrl);">
                        <div class="card_content">
                            @ca.Make @ca.Model<br />
                            @ca.Year
                        </div>
                    </div>
                </a>
            }
            @if ((i + 2) < Model.Count())
            {
                ca = Model.ElementAt(i + 2);
                <a href="@Url.Action("Details", new { id = ca.Id })">
                    <div class="col-sm-4 no-padding car-image-container card" style="background-image: url(@ca.ImageUrl);">
                        <div class="card_content">
                            @ca.Make @ca.Model<br />
                            @ca.Year
                        </div>
                    </div>
                </a>
            }
        </div>
    }

            @*@for (int i = 0; i < Model.Count(); i = i + 3)
            {
                var ca = Model.ElementAt(i);
                <div class="row">
                    <div class="col-md-4">
                        <a href="@Url.Action("Details", new { id = ca.Id })">
                            <img src="@ca.ImageUrl" alt="This is a car for sale" class="car-image" />
                        </a>
                    </div>
                    @if ((i + 1) < Model.Count())
                    {
                        ca = Model.ElementAt(i + 1);
                        <div class="col-md-4">
                            <a href="@Url.Action("Details", new { id = ca.Id })">
                                <img src="@ca.ImageUrl" alt="This is a car for sale" class="car-image" />
                            </a>
                        </div>
                    }
                    @if ((i + 2) < Model.Count())
                    {
                        ca = Model.ElementAt(i + 2);
                        <div class="col-md-4">
                            <a href="@Url.Action("Details", new { id = ca.Id })">
                                <img src="@ca.ImageUrl" alt="This is a car for sale" />
                            </a>
                        </div>
                    }

                </div>
                <div>
                    &nbsp;
                </div>
            }*@
            <div class="text-center top-margin">
                <a href="@Url.Action("Add")" class="btn btn-primary" role="button">
                    Add Car +
                </a>
            </div>
        </div>

<script>
    function CarImageResize() {
        var carImageWidth = $('.car-image-container').width();
        $('.car-image-container').css({
            'height': carImageWidth + 'px'
        });
    }
    
    $(document).ready(CarImageResize());

    (function($) {
        var resizeTimer;
        $(window).resize(function () {
            clearTimeout(resizeTimer);
            resizeTimer = setTimeout(CarImageResize, 50);
        });
    })(jQuery);

    //var cw = $('.car-image-container').width();
    //$('.car-image-container').css({
    //    'height': cw + 'px'
    //});

    //$(window).on('resize', CarImageResize());


    //$(window).on('resize', function() {
    //    var imgWidth = $('.car-image-container').width();
    //    $('.car-image-container').css({
    //        'height': imgWidth + 'px'
    //    });
    //});
</script>