﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    color: #30302F;
    background-color: #E6E6E4;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.user-header {
    /*border: 2px solid #1253A4;*/
    margin-top: 20px;
}

.user-display-name {
    padding: 2px 8px;
    background-color: #1253A4;
    color: #F4F4F2;
    font-weight: bold;
    font-size: 26px;
}

.user-profile-picture {
    width: 100%;
}

.wall-post {
    margin-top: 20px;
    background-color: #F4F4F2;
}

.wall-post-header {
    display: block;
    padding: 4px;
}

.wall-post-profile-picture {
    width: 56px;
    display: inline-block;
    vertical-align: top;
    padding-left: 4px;
}

.wall-post-info {
    display: inline-block;
}

.wall-post-username {
    font-size: 18px;
    font-weight: bold;
    color: #1253A4;
}

.wall-post-date {
    font-weight: lighter;
    color: #595959;
}

.wall-post-content {
    padding: 4px 8px 8px;
    font-size: 16px;
}

.input-wall-post {
    background-color: #F4F4F2;
    margin-top: 20px;
}

.input-wall-post-textarea-container {
    padding: 4px;
}

.input-wall-post-textarea {
    min-width: 100%;
    background-color: #F4F4F2;
}

.input-wall-post-button-container {
    padding: 0 4px 4px;
}

.comment {
    background-color: #F4F4F2;
}

.comment-header {
    display: block;
    padding: 4px 8px;
}

.comment-profile-picture {
    width: 40px;
    display: inline-block;
    vertical-align: top;
}

.comment-info {
    display: inline-block;
}

.comment-username {
    font-size: 12px;
    font-weight: bold;
    color: #1253A4;
}

.comment-date {
    font-size: 12px;
    font-weight: lighter; 
    color: #595959;
}

.comment-content {
    display: inline-block;
    vertical-align: top;
    padding: 0px 14px;
}

.input-comment {
    background-color: #F4F4F2;
}

.input-comment-textarea-container {
    padding: 4px;
}

.input-comment-textarea {
    min-width: 100%;
    background-color: #F4F4F2;
}

.input-comment-button-container {
    padding: 0 4px 4px;
}

.submit-comment {
    width: 84px;
}

.link-no-decoration {
    text-decoration: none;
    margin-left: -4px;
}

.link-no-decoration:hover {
    text-decoration: none;
}

.friend-list-image {
    width: 20%;
}
